#time_remaining{
    size:5px;
    color:grey;


}



table, th, td {
    border: 1px solid white;
    width:100%;
  }


#hi_scores_table{
    background: rgb(224, 221, 221);
    color:black;
    width:100%;
    text-align:left;

}
.result{
font-style: italic;
float:left;
}

#hi_scores{
    size:5px;
    color:grey;

}

#boundary_box{
    width: 500px;
    text-align:center;

}
.question{
    text-align:left;
}

.question_button{
    background-color:purple;
    color:white;
    display:block;

}
#start_button{
    background-color:purple;
    color:white;
   }

.answer_hide{
    visibility: hidden;
}

.answer_show{
    visibility:show;
}