#time_remaining{
    size:5px;
    color:grey;


}



table, th, td {
    border: 1px solid white;
    width:100%;
    margin:20px;
  }



#hi_scores_table{
    background: rgb(224, 221, 221);
    color:black;
    width:100%;
    text-align:left;

}
.result{
font-style: italic;
float:left;
}

#hi_scores{
    size:5px;
    color:grey;

}

#boundary_box{
    width: 500px;
    text-align:center;

}
.question{
    text-align:left;
}

.question_button{
    background-color:purple;
    color:white;
    display:block;
    height: 20px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    position:relative;
    

}
#start_button{
    background-color:purple;
    color:white;
    
   }

#initials_form{
    float:left;
    flex-flow:nowrap;

}
#text_box{
    width:50px;
}

   #score_button{
    background-color:purple;
    color:white;
    float:left;
    margin-right:20px;
   }

.answer_hide{
    visibility: hidden;
}

.answer_show{
    visibility:show;
}
.submit_button{

    padding-bottom: 25px;
}